@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/open-sans-extrabold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans-light-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: local("Lora"), local("Lora-Regular"), url("../fonts/lora.woff2") format("woff2");
}
@font-face {
  font-family: "Lora";
  font-style: italic;
  font-weight: 400;
  src: local("Lora Italic"), local("Lora-Italic"), url("../fonts/lora-italic.woff2") format("woff2");
}

header{
	background-image: url('../images/background.jpg');
	background-position: center;
	background-size: cover;
	color: white;
}
body{
	font-family: "Open sans", "Helvetica";
	margin: 0px;
}

ul,li,span,a,p{
	margin: 0px;
	padding: 0px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}
.logo{
	float: left;
	font-family: "Open Sans";
	font-weight: 800;
	color: white;
}
.nav-links{
	float: right;
	color: fff;


}
nav:after{
 	content: "";
 	display: block;
	clear: both;
}
.blog-title{
	text-align: center;
	padding-top: 30px;
	color: fff;
	font-size: 40px;
}
.blog-description{
	text-align: center;
	padding-bottom: 140px;
	color: fff;
	font-size: 20px;
}
.nav-links li{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 14px;
}
nav{
	margin-bottom: 60px;
	padding-top: 11px;
	padding-right: 30px;
	padding-bottom: 100px;
	padding-left: 10px;
}
main{
	max-width: 640px;
	margin: 0px auto;
}
.prev-post{
	border: 1px solid gray;
	padding: 10px;	
	float: right;
}
.older-posts:after{
 	content: "";
 	display: block;
	clear: both;
}
.post-date{
	font-family: Lora;
	font-style: italic;
}
footer{
	text-align: center;
}
.copyright{
	font-family: Lora;
}